body, html, #app {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none!important;
}

.main {
    background-color: #FCFCFC;
    height: 100%;
    width: 100%;
}

.bg-color-dark {
    background-color: rgb(31 41 55);
}
